.checkout{
   display: flex;
   flex: 1;
   flex-direction: column;
padding: 20px;
background-color: white;
height: max-content;
}
.checkoutAd{
    width:100%;
    height: 200px;
    margin-bottom: 10px;
}
.checkoutTitle{
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid lightgray;
}
.checkoutRight{
    display: flex;
    background-color: white; 

}
.contain{
    display: flex;
}